body, .footer {
    max-width: 640px;
    margin: 0 auto;
}
.content {
    margin: 10px 0;
}
#pictureName {
    font-weight: bolder;
}
.slider-header, .slider-footer, .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-footer {
    margin: 10px 0;
}
#topMenu, #sliderFooter {
    display: none;
}
.menu {
    justify-content: flex-end;
    margin: 10px 0;
}
.menu > .btn {
    margin-left: 4px;
}
img.series {
    width: 100%;
}
#isLoading {
    margin: 0 auto;
}
#isError {
    margin: 0 auto;
    display: none;
}
#isNoRelevantPictures {
    margin: 0 auto;
    display: none;
}
.carousel {
    margin: 0 auto;
    max-width: 640px;
}
.carousel-item {
    transition-property: display !important;
}
